.header {
    background-color: red;
    margin: 0px;
    padding: 0px 0px;
    border: 0px;    
}
.footer {
    background-color:palevioletred;
    display: flex;
    margin: 0px;
    padding: 14px 14px;
    border: 0px;
    font-size: 14px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: 900px;
    max-height: 100%;
  }
.contentWrapper {
    display: flex;
    min-height: 300px; /* ToDo: Flexbox */
    flex-direction: column;
    background-color: rgb(255, 214, 127);
    justify-content: center;
    margin: 0;
}
.selectionArea {
    min-height: 300px;
    background-color: rgb(83, 155, 50);
    margin: 0px;
    padding: 0px;
    border: 0px;  
}

.top_logo {
    padding: 0px 16px 0px 0px;
}

.logoBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: aquamarine;
    margin: 0px;
    padding-left: 0px;
    border: 0px;  
}

.paino {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px;
    font-size: 5vw;
    padding: 16px 0px 16px 9px;
    border-style: solid;
    font-weight: bold;
    background-color: rgb(255, 0, 212);
}

.kontrollit {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px;
    border-style: solid;
    background-color: rgb(0, 162, 255);
    justify-content: flex-start;
    height: 100%;
    max-height: 53px;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    background-color:rgb(87, 210, 30);
    font-size: 11px;
    border: 2px;
    border-style: solid;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-weight: bold;
}

.plus {
    background-color:green;
}

.minus {
    background-color: red;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    align-items: center;
    min-height: 50px;
    background-color:rgb(36, 210, 30);
    margin: 0px;
    border: 0px;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    max-height: 90px;
    border-style: solid;
    border-width: 1px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    min-height: 75px;
    background-color:rgb(36, 210, 30);
    margin: 8px 0px;
}

.tietoruutu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    min-height: 50px;
    background-color:rgb(36, 210, 30);
    margin: 0px;
    border: 0px;
    width: 100%;
    margin: 0px 0px 0px 20px;;
    border: 0px;
    padding: 0px;
}

.otsikko {
    font-size: 19px;
    font-weight: bold;
}

.teksti {
    display: flex;
    /* background-color:rgb(92, 105, 91); Testikäyttö */
    margin: 0px;
    border: 0px;
}

.kuva {
    display: flex;
    margin: 0px;
    border: 0px;
}

.jakopalkki {
  min-width: 1vw;

}

.jakopalkki.nappiryhmä_väli {
    min-width: 7vw;
  
  }

.dynamicWrapper {
    display: flex;
    flex-direction: column;
    background-color:rgb(58, 105, 55);
    margin: 0px;
    border: 0px;  
    width: 100%;
}